annotated-types
anyio
async-timeout
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
decorator
distlib
distro
dnspython
email_validator
faiss-cpu
fastapi
fastapi-cli
filelock
frozenlist
greenlet
h11
httpcore
httptools
httpx
idna
Jinja2
joblib
markdown-it-py
MarkupSafe
mdurl
motor
multidict
mypy-extensions
numpy
openai
orjson
packaging
Pillow
pipenv
platformdirs
protobuf
pydantic
pydantic_core
Pygments
pymongo
Pympler
PyPDF2
pyrsistent
python-dotenv
python-multipart
pytz
PyYAML
regex
rich
shellingham
six
smmap
sniffio
starlette
tenacity
toml
toolz
tornado
tqdm
typer
typing-inspect
typing_extensions
tzdata
ujson
urllib3
uvicorn
uvloop
validators
virtualenv
watchdog
watchfiles
websockets
Werkzeug
yarl
zipp
